<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>
  He was born in Waikikamukau, New Zeland. He left New Zealand for England, excelled at the University of Mopery, and served in the Royal Loamshire Regiment. While in service, he inventen the kanuten valve used in the processing of unbainium for industrial use. With a partner, Granda Fairbook, he founded Acme Manufacturing, later adquired by the Advent Corporation, to develop his discovery for use in the Turboencabulator.
  Mr. Kadigan is now retired and lives in Middlehampton with a favorite cat, where he raises Griadium frieda and collects metasyntatic variables.
</p>
<p>
  His favorite quiotation is:
</p>
<p>
  Lorem ipsun dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et do lore magna aliqua.
</p>
